<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>

<p th:text="${tituloFormulario}"></p>

<form method ="post">
    Ruts:<br>
    <input type="text" name="rut" required>
    <br>
    Nombres:<br>
    <input type="text" name="nombres" required>
    <br>
    Apellidos:<br>
    <input type="text" name="apellidos" required>
    <br>
    Teléfono:<br>
    <input type="text" name="telefono" required>
    <br> <br> <br>

    <input type="submit" value="Guardar">
</form>

</body>
</html>