<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>

<h1 th:text="${titulo}"></h1>

<table>
    <tr>
        <th>Rut</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Telefonos</th>
    </tr>
    <tr th:each="p : ${personas}">
        <td th:text="${p.rut}"></td>
        <td th:text="${p.nombres}"></td>
        <td th:text="${p.apellidos}"></td>
        <td th:text="${p.telefono}"></td>
    </tr>
</table>


<a href="/">Agregar</a>

</body>
</html>